{% extends "layout.html" %}
{%block content%}

{% if session.user_id %}

<form action="/add" method="POST">

<p>Linnun laji:<br>
<input type="text" name="laji" minlength="1" maxlength="20"></p>

<p>Paikka:<br>
<input type="text" name="paikka" minlength="1" maxlength="20"></p>

<p>Päivämäärä: <br>
<input type="date" name="spotted"/></p>

<input type="submit" value="Lisää">




</form>

{% else %}
Sinun täytyy olla kirjautunut sisään lisätäksesi bongauksia. <a href="/login">Kirjaudu sisään</a> ja aloita bongaus!
{% endif %}

{% endblock %}